/* @import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.home__action-btn {
  font-size: 2rem !important;
  font-family: "Athiti", sans-serif;
}

.home__subheader {
  font-family: "Athiti", sans-serif;
}
