@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: black !important;
  background-image: url("./Assets//mars.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

#root {
  z-index: 2;
}
